* {
  font-family: Nunito;
  margin-bottom: 0;
}

html {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.super-bold {
  font-weight: 1000;
  font-size: 2rem;
}

#header-img {
  width: 2.3rem;
}

.logo {
  margin-right: 4rem;
  color: white;
  padding-top: 20px;
}

#submit {
  background-color: #0000ff;
  border: none;
  font-weight: bold;
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
}

.app {
  background-color: #0000ff;
  border: none;
  font-weight: bold;
  padding: 15px 25px;
  color: white;
  border-radius: 5px;
  margin-left: 4rem;
}

.app:hover {
  background-color: #000090;
}

h4, h2 {
  color: #7392ff;
}

.email-description {
  margin-bottom: 5px;
}

#email {
  margin-top: 0;
}

nav {
  margin-top: 15px;
  position: sticky;
}

.nav-link {
  text-decoration: none;
  color: #0466c8;
  padding: 0 15px; 
  font-weight: bold;
  font-size: 1.25rem;
}

#Investors {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(2, 1fr));
  row-gap: 1rem;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  background-color: #f4f6fd;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10rem;
  justify-content: center;
}

#Investors img {
  width: 10rem;
  border-radius: 1rem;
}

.inv-h {
  margin-top: 7.5rem;
  margin-bottom: 20px;
}

.atutes {
  margin-left: 13rem;
  margin-right: 13rem;
}

.atutes h4 {
  margin-bottom: 0;
}

.atutes p {
  margin-bottom: 0;
}

.atutes p:last-of-type {
  margin-bottom: 50px;
}

#video {
  border: none;
  border-radius: 10px;
  margin: 20px;
}

.description {
  color: #0466c8;
  font-size: 1.25rem;
}

span {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}

#Tokens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.dpx-title {
  text-align: center;
  font-size: 2rem;
  border-bottom: #7392ff 1px solid;
  padding-bottom: 20px;
}

.dual-token {
  margin-top: 7.5rem;
  margin-bottom: 20px;
}

.token-des {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

section {
  border-radius: 10px;
  padding: 20px;
  background-color: #f4f6fd;
  text-align: left;
  margin-bottom: 20px;
  width: 40%;
  margin-left: 25%;
}

footer {
  text-align: center;
  width: 100%;
  border-top: #000090 2px solid;
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer-img {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 600px) {
  html {
    background-color: white;
    color: black;
  }

  .logo {
  color: black;
}
}

.inline {
  display: inline-block;
}

